body{
    margin: 0;
    padding: 0;
}
.carousel-indicators li {
    display: inline-block;
    width: 30px;     
    height: 3px;
    margin: 5px;
    text-indent: 0;
    cursor: pointer;
    border-radius: 3px;
}
